// A token is required to authenticate your requests
// Get it from IceScrum > MyAccount > Account > API tokens
var iceScrumToken = '...' 

// You can use IceScrub utils with the following list of projects
// Get their IDs from each project > Settings > Your Project > Key
projectIds = [ 
    '...',
    '...'
]

// Select the backend to use
const API_base_url = "https://etml.icescrum.com/ws/project/";
